/* Estilo general del documento */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}

/* ------------------- Estilo de la vista mobile -------------------------- */
/* ------------------------------------------------------------------------ */

/*  Barra menu y banner */

.logo {
    background-color: rgba(4, 50, 78, 0.9);
    border-radius: 5px;
    color: #ffffff;
    padding: 3.5px;
    font-family: 'Spectral', serif;
}

.texto-menu {
    font-size: 20px;
    color: rgba(4, 50, 78, 0.9);
}


.btn-menu:active i {
    background-color: rgba(4, 50, 78, 0.9);
    border-radius: 5px;
    color: #ffffff;
    padding: 2px;
}

#titulo {
    font-size: 35px;

}


/* Subtitulos y texto dentro del body */
h3 {
    font-family: 'Oregano', cursive;
    font-size: 50px;
    color: #03141f;
    text-shadow: -1px 1px 3px #5274e5;
}

.texto {
    font-size: 15px;
}

.mySlides {
    display: none;
}

/* Estilo de la seccion de descipcion */

.myPhoto {
    margin: 0;
    padding: 0;
    width: 100%;
    width: 500;
    height: 333;
}

.my-photo {
    width: 100%;
    height: auto;
}


/* Estilo de la seccion de contacto */
#panel-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contacto {
    height: auto;
    width: auto;
}

.contacto a {
    text-decoration: none;
    height: auto;
    width: auto;
    text-align: center;
    margin: auto;
}

.contacto a i {
    font-size: 50px;
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 50%;
    box-shadow: -5px 5px 5px rgba(4, 50, 78, 0.9);
}

.icon-whatsap {
    background-color: #4dc247;
    color: #fff;
}

.icon-mail {
    background-color: #4285f4;
    color: #fff;
}

.icon-message {
    background-color: #eb5709;
    color: #fff;
}

.contacto a i:hover {
    background-color: #fff;
    color: rgba(4, 50, 78, 0.9);
    border: solid 1px rgba(4, 50, 78, 0.9);
    font-size: 48px;
}

.contacto a i:active {
    transform: translate(-4px, 4px);
    box-shadow: none;
}

.contacto a:visited {
    text-decoration: none;
}

#btn-enviar {
    background-color: rgba(4, 50, 78, 0.9);
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 3px 3px 5px rgba(4, 50, 78, 0.7);
}

#btn-enviar:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}

#formulario {
    display: none;
}


/* Estilo del Footer*/

.center ul .text {
    position: relative;
    background-color: rgba(4, 50, 78);
    color: #fff;
    border-radius: 50%;
    height: auto;
    width: 120px;
    margin: auto;
    pointer-events: none;
    line-height: 50px;
    top: -50px;
    font-family: 'Spectral', serif;

}

.center ul:hover .text {
    opacity: 0;
    transition: opacity .5s .125s ease-out;
}

.center ul li {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgba(4, 50, 78);
    line-height: 55px;
    margin: 0 -10px;
    cursor: pointer;
    border-radius: 0;
    transition: backgroud-color .5s ease-out,
        border-radius .5s .25s ease-out,
        margin .5s .25s ease-out;
}

.center ul li:hover {
    background-color: #fff;
    box-shadow: 0 0 2px 1px #000, -5px 5px 5px rgba(4, 50, 78, 0.9);
}

.center ul li:active {
    transform: translate(-3px, 3px);
    box-shadow: none;
}

.center ul li i {
    color: #fff;
    font-size: 30px;
    opacity: 0;
    transition: opacity 1.2s;
}

.center ul:hover li i {
    opacity: 1;
}

.center ul li:nth-child(1) {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.center ul li:nth-child(3) {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}


.center ul:hover li {
    border-radius: 50px;
    margin: 0 20px;
    box-shadow: -5px 5px 5px rgba(4, 50, 78, 0.9);
}


.center ul li:hover #face {
    color: #3b5998;
    border-radius: 50%;
}

.center ul li:hover #insta {
    border-radius: 25%;
    background-image: linear-gradient(to top right, #ffa700, #a700ff);
    color: #fff;
}

.center ul li:hover #twit {
    color: #3cf;
}

.center ul li:hover #linkedin {
    color: #0274B3;
}

.center ul li:hover #youtube {
    border-radius: 80%;
    color: #CC181E;
}

/* ------------------- Estilo de la vista tablet -------------------------- */
/* ------------------------------------------------------------------------ */
@media screen and (min-width: 650px) {

    .texto-menu {
        font-size: 14.5px;
        color: rgba(4, 50, 78, 0.9);
    }

    #titulo {
        font-size: 30px;
    }

    #subtitulo {
        font-size: 50px;
        color: #04324e;
        text-shadow: -2px 2px 5px #5274e5, 0 0 15px rgba(155, 221, 205, 0.93);
        font-family: 'Spectral', serif;
    }

    h3 {
        font-size: 40px;
        color: #04324e;
        text-shadow: -1px 1px 3px #5274e5;
    }

    .texto {
        font-size: 18px;
    }


    .mySlides img {
        padding: 10px;
        border-radius: 25px;
    }

    .lista {
        padding-left: 50px;
    }

    .boton-whsp {
        top: 500px;
        width: 60px;
        height: 60px;
        font-size: 2.3em;
    }
}



/* --------------------- Estilo de la vista PC ---------------------------- */
/* ------------------------------------------------------------------------ */
@media screen and (min-width: 1024px) {

    .texto-menu {
        font-size: 17.5px;
        color: rgba(4, 50, 78, 0.9);
    }



    h3 {
        font-size: 50px;
    }

    .texto {
        font-size: 24px;
    }


    .menu-slide {
        display: none;
        left: 100%;
    }


    .myPhoto {
        width: 400;
        height: 300;
    }


    li .social-btn:active {
        transform: scale(0.9);
    }
}
