/* Estilo general del documento */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}

h3 {
    font-family: 'Oregano', cursive;
    font-size: 30px;
}


.mySlides {
    display: none
}

#face:hover {
    color: #3b5998;
}

#insta:hover {
    color: #f8bc17, #c909c9;
}

#twit:hover {
    color: #3cf;
}

.logo {
    background-color: rgba(4, 50, 78, 0.9);
    border-radius: 5px;
    color: #ffffff;
    padding: 3.5px;
}

#subtitulo {
    color: #04324e;
    text-shadow: -1px 1px 3px #5274e5;
}


.btn-menu:active i {
    background-color: rgba(4, 50, 78, 0.9);
    border-radius: 5px;
    color: #ffffff;
    padding: 2px;
}

.my-photo {
    width: 100%;
    height: auto;
}

.myPhoto {
    margin: 0;
    padding: 0;
    width: 100%;
    width: 500;
    height: 333;
}

/* ------------------- Estilo de la vista mobile -------------------------- */
/* ------------------------------------------------------------------------ */













/* ------------------- Estilo de la vista tablet -------------------------- */
/* ------------------------------------------------------------------------ */
@media screen and (min-width: 650px) {

    h3 {
        font-size: 40px;
    }
    
    .mySlides img{
        padding: 10px;
        border-radius: 25px;
    }
    .lista{
        padding-left: 50px;
    }
}



/* --------------------- Estilo de la vista PC ---------------------------- */
/* ------------------------------------------------------------------------ */
@media screen and (min-width: 1024px) {

    h3 {
        font-size: 50px;
    }
    
    .menu-slide {
        display: none;
        left: 100%;
    }
    
    
.myPhoto {
    width: 400;
    height: 300;
}

    #myNavbar i,
    #mySidebar i {
        color: rgba(4, 50, 78, 0.9);
    }
}
